.carousel-inner {
  display: flex;
}

.carousel-item {
  flex: 0 0 auto;
  width: 33.3333%; /* Esto mostrará 3 imágenes a la vez */
}

.carousel-item img {
  width: 100%;
  height: 200px; /* Ajusta la altura de las imágenes */
  object-fit: cover;
}

.carousel {
  width: 80%; /* Ajusta el ancho del carrusel */
  margin: 0 auto; /* Centra el carrusel horizontalmente */
}
