.header {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #f8f9fa;
}

.logo {
  max-height: 50px;
  margin-right: 20px;
}

.company-name {
  font-size: 1.5rem;
  font-weight: bold;
  margin-right: 20px;
}

.search-bar {
  flex-grow: 1;
  padding: 1px;
  margin-right: 20px;
  max-width: 25%;
}

.icons {
  display: flex;
  gap: 15px;
  justify-content: flex-end;
}

.icon {
  font-size: 1.5rem;
  cursor: pointer;
}
